{% extends 'base.html' %}

{% block content %}

<br><br><br><br>

<center>
<div style="background-color:red;">
    {% for message in messages %}
   <b> <h4>{{message}}</h4></b>
    {% endfor %}
</div>
    </center>
<form action="register" method="post">
     {% csrf_token %}
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
      <b>Name</b>
    <input type="text" placeholder="Enter first name" name="fname"  required><br>
     <input type="text" name="lname" placeholder="Enter last name" required><br>
      <b>Email</b>
    <input type="text" placeholder="Enter Email" name="email"  required><br>
      <b>Username</b>
       <input type="text" name="username" placeholder="Enter username" required><br>
      <b>Password</b>
    <input type="password" name="password1" placeholder="password" required><br>
      <b>Repeat Password</b>
    <input type="password" name="password2" placeholder="confirm password" required><br>
      <button type="submit" class="registerbtn">Register</button>
  </div>


</form>

{% endblock %}

